[Unit]
Description=Ampi Volumio with oled UI
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python -u /home/volumio/AMPI/AMPI.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ampipy
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target